ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.a-background:hover, .a-background:focus {
    background-color: #2196F3;
    color: #ffffff;
}
.a-color:hover, .a-color:focus {
    color: #2196F3;
}

.color-blue {
    color: #2196F3;
}
.color-gray {
    background-color: #F5F4FA;
    color: #000000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
}